@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body{
    background-color: hsl(220, 15%, 55%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
}

.container{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: auto;
    border-radius: 20px;
    padding: 15px 15px 35px 15px
}

.imageQr{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    border-radius: 20px;
}

.imageQr>img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 350px;
    border-radius: 10px;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding-top: 6%;
    padding-bottom: 6%;
}

.title>h2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 28px;
    width: 90%;
}

.text{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.text>p{
    color: hsl(213, 5%, 56%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 19px;
    width: 85%;
}

